* {
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    background-size: cover;
    box-sizing: border-box;
    background-color: black;
}

.content {
    /* object-fit: cover; */
    display: flex;
    height: 100%;
}

.banner {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.title {
    flex: 1;
    display: flex;
    flex-direction: column;
    color: aliceblue;
    justify-content: center;
    align-items: center;

    & .mainTitle {
        font-size: 3rem;
    }

    & .subTitle {
        margin-top: 20px;
        opacity: .7;
    }

    & .mainTitle:hover {
        animation: starry 0.3s infinite;

    }
}

@keyframes starry {
    0% {
        opacity: 1;
        font-size: 3.5rem;
    }

    25% {
        opacity: 0.6;
    }

    50% {
        opacity: 1;
        font-size: 3.7rem;
        color: rgb(255, 255, 241);
    }

    75% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
        font-size: 3.5rem;
    }
}

.menus {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 150px 0;
}

.menu {
    flex: 1;
    font-size: 1.5rem;
    transition: font-size .3s;
    color: white;

    &:hover {
        font-size: 2.5rem;
        cursor: pointer;
        font-weight: bold;
        color: rgb(255, 255, 189);
    }
}

.starAni {
    flex: 1;
    /* background-color: aliceblue; */
}